@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* boarder =  width, style, color
*{
    border: 1px solid gray;
} */

html {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

main {
  border: 2px solid rgb(3, 2, 2);
  border-radius: 25px;
  display: inline;
}

h1 {
  font-size: small;

  color: rgb(184, 15, 15);
}

nav {
  margin: 0px;
  text-align: right;
  padding: 0px;
  color: black;
  width: 0em;
}

h2 {
  font-size: small;
  color: rgb(5, 5, 5);
}

h3 {
  font-size: small;
  color: rgb(221, 17, 17);
}

p {
  font-size: smaller;
  color: black;
}

div {
  padding: 10px;
  display: inline-block;
}

.dog-photo {
  width: 15%;
  display: inline-block;
}

img {
  width: 20%;
  height: 30vh;
  object-fit: cover;
  object-position: bottom;
}

footer {
  text-align: center;
  background-color: white;
  padding: 0px;
  color: black;
}
